body{
    background-color: aliceblue;
   
}

nav{
    text-align: left;
}

.corazon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 10rem;
    animation: corazon .5s infinite alternate linear;
}

@keyframes corazon {
    from{
        transform: scale(.7)
    }
    to{
        transform: scale(1)
    }
    
}